* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.qr-image {
  width: 100%;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.qr-image:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.title {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 1rem 0 0.75rem;
}

.description {
  color: hsl(216, 15%, 48%);
  font-size: 0.95rem;
  margin: 0 0.8rem 1rem;
}

/* For small screens */
@media (max-width: 480px) {
  .card {
    width: 90%;
    padding: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.9rem;
    margin: 0 0.5rem 1rem;
  }
}

/* For medium screens */
@media (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 70%;
    padding: 1rem 1.5rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .description {
    font-size: 1rem;
    margin: 0 1rem 1rem;
  }
}

/* For large screen: PC (min-width: 769px) */
@media (min-width: 769px) {
  .card {
    width: 320px;
  }

  .title {
    font-size: 1.3rem;
  }

  .description {
    font-size: 0.95rem;
  }
}
